/*.input-modern {
  background: #222;
  color: #aaa;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #111;
}

.input-modern:focus {
  color: #fff;
  box-shadow: 0px;
}*/

.alert, .alert:focus {
  border: 1px solid red;
  box-shadow: 0px 0px 1px 1px rgba(255,0,0) !important;
}

.onDark {
  color: #fff;
}

.limit-to-80 {
  max-width: 80%;
  margin-left: 10%;
}

#circle-load-container {
  position: fixed;
  bottom: 15px;
  display: block;
  width: 100%;
}

.circle {
  background: #888;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 5px;
  display: inline-block;
}

.last {
  margin-right: 0px;
}

/* 

Window

For Option Overview, to give visual depth
for the user in an iPHONE-esque way.

*/

.window {
  margin: 10px auto;
  max-width: 95%;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  list-style: none;
  padding: 0;
}

/* Machine List Page */

.machine-item {
  padding: 15px;
  position: relative;
}

.machine-item, .machine-item:first-child {
  border-bottom: 1px solid #ccc;
}

.machine-item:last-child {
  border-bottom: 0px;
}

.machine-item:first-child:active {
  border-radius: 5px 5px 0px 0px;
}

.machine-item:last-child:active {
  border-radius: 0px 0px 5px 5px;
}

.machine-item:active {
  background: #0066CC;
  border-color: #bbb;
  color: #fff;
}

.status {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #222;
  font-weight: 900;
}

/* Mobile Nav */

.mobile-nav {
  max-width: 100%;
  background: #222;
  color: #aaa;
  padding: 10px;
}

/* Input list page */
.input-item {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  position: relative;
  overflow: none;
}

.input-item:hover {
  background-color: #eee;
  border-color: #ccc;
  cursor: pointer;
}

.input-item:active {
  background-color: #ddd;
  border-color: #bbb;
}

.console {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 50%;
}

.console > .decal {
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  margin-right: 3px;
}


/*

appViewContainer

*/

#appViewContainer .container {
  height: 100%;
}

/*

Recipe Page

*/
.tagsBG {
  background: #1A2927 !important;
}

.inputTag {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #0C0F0F;
  background: #FFF;
  opacity: 0.2;
  border-radius: 5px;
}

.inputTag > span {
  color: #000;
}

/*

Navigation

*/
.appViewNavigation {
  height: 100px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0px;
  background: url('../img/navbar.png') no-repeat;
  z-index: 999;
}


/*
  
App Live Trend Navigation

*/
#appLiveTrendNavigation {
  
}
